* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ol,
ul,
li {
  list-style: none;
}
input {
  font: inherit;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: rgb(228, 212, 207);
  overflow: hidden;
}
